<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Our blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"/>
</head>

<body class="d-flex flex-column h-100">

<header th:insert="blog/bloks/header :: header"></header>

<main class="flex-shrink-0 mt-5">
    <div class="container">
        <h1 class="mt-5">Наши блоги!</h1>


            <div  th:each="post:${posts}" class="alert alert-info mt-1" >
                <h3  th:text="${post.title}">value</h3>
                <a  class="offset-0" th:href="@{/blog/{id}(id=${post.id})}">

                    <img th:src="@{'/img/'+${post.fileName}}"  height="100"  alt="None">
                </a>


                <span   class="offset-1" th:text="${post.anons}">value</span>
                <hr/>
                <span > Просмотров:</span>
                <span th:text="${post.show}">value</span>
                <a  class="offset-11" th:href="@{/blog/{id}(id=${post.id})}">Read post!</a>
            </div>




    </div>
</main>

<div th:insert="~{blog/bloks/footer :: footer}"></div>






</body>
</html>